@charset "UTF-8";

/* 回答はここに書いてね */

.q4 {
  background-color: #ecf1f2;
  padding: 20px;
}

.q4__contents {
  display: table;
  margin-top: 20px;
  width: 100%;
}

.q4__contents:first-child {
  margin-top: 0;
}

.q4__contents__cell {
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}

.skin {
  background-color: #fdc8d8;
  width: 100px;
}

.purple {
  background-color: #e0abd9;
}

.sky {
  background-color: #d6b8ed;
  width: 100px;
}

.mustard {
  background-color: #e5d32e;
}

.pink {
  background-color: #ec8f9a;
}

.green {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
