@charset "UTF-8";

/* 回答はここに書いてね */
.q3__table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #dedede;
}

.q3__table th,
.q3__table td {
  padding: 10px;
  border: 1px solid #dedede;
  vertical-align: middle;
}

.q3__table th {
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.q3__table td {
  text-align: center;
  line-height: 22px;
}

.q3__table > tbody > tr:nth-child(even) {
  background-color: #ecf1f2;
}

.q3__table > tbody > tr:last-child {
  border-top: 2px dashed #000;
}

/* 回答はここに書いてね */
